.circle_container {
  position: relative;
  width: 98px;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 2;
  flex-shrink: 0;

  &::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    backdrop-filter: blur(4px);
    z-index: -1;
    transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
  }
}

.circle_progress {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle_background {
  fill: none;
  stroke: rgba(255, 255, 255, 0.27);
  stroke-width: 2;
}

.circle_foreground {
  fill: none;
  stroke: #ffe000;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-dasharray: 0, 100;
  transition: stroke-dasharray 0.3s ease;
}

.circle_text {
  position: absolute;
  font-size: 14px;
  color: white;
  z-index: 3;
  font-family: "Montserrat", sans-serif;

  > b {
    font-size: 20px;
    color: #ffe000;
  }
}
