.home_container {
  padding: 16px;
  background: linear-gradient(#12111399, #121113 100%);
  min-height: 100vh;
}

.home_movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
