@use "./styles/colors.scss";

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(var(--color-gradient), var(--color-mauve-1) 100%),
    url("./assets/backgropund-krists-luhaers-unsplash.png"),
    var(--color-mauve-1);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  min-height: 100vh;
}
