@use "../../styles/mixins.scss";

.details_container {
  padding: 16px;
}

.details_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details_backdrop {
  display: none;
}

.details_moviePoster {
  width: 382px;
  height: 582px;
  object-fit: fill;
  margin: 0 auto 16px;
}

.details_movieTitle,
.details_movieOriginalTitle,
.details_movieTagline,
.genre_card {
  font-family: "Montserrat", sans-serif;
}

.details_movieTitle {
  font-weight: 600;
  color: var(--color-text-primary);
}

.details_movieOriginalTitle {
  font-weight: 400;
  color: var(--color-text-secondary);
}

.details_movieTagline {
  font-weight: 400;
  color: var(--color-text-primary);
}

.details_movieHeaderCards {
  display: grid;
  grid-template-columns: minmax(136px, 1fr) minmax(100px, 1fr) 98px;
  gap: 16px;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.genre_card {
  background-color: var(--color-primary-alpha-3);
  padding: 8px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
}

.details_movieGeneralCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.details_movieMoneyCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

@include mixins.media("XL") {
  .details_container {
    padding: 32px;
    max-width: calc(1271px + 64px);
    margin: 0 auto;
  }

  .details_content {
    display: grid;
    grid-template-areas: "p h h" "p s o" "p g z";
    grid-template-rows: minmax(min-content, 120px) minmax(fit-content, 300px) 1fr;
    padding: 32px;
    position: relative;
  }

  .details_backdrop {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
    max-width: 1448px;
    max-height: 604px;
  }

  .details_moviePoster {
    grid-area: p;
    width: 354px;
    height: 542px;
  }

  .details_movieHeader {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .details_movieHeaderCards {
    width: fit-content;
    margin: 0;
  }

  .details_synopsis {
    grid-area: s;
  }

  .details_genres {
    grid-area: g;
  }

  .details_movieGeneralCards {
    grid-area: o;
    height: fit-content;
  }

  .details_movieMoneyCards {
    grid-area: z;
  }
}
